h2 {
    border-width: 1em;
    text-align: center;
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
    font-size: medium;
}

video {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border-width: 0px;
    opacity: 0.8;
}