<!DOCTYPE html>
<html>
<style>
    .left,
    .right {
        width: 33%;
        float: left;
    }

    .middle {
        float: left;
        min-width: 33%;
        width: auto;
        position: relative;
    }
</style>

<head>
    <title>Control panel</title>
</head>

<body>
    <div class='left'>
        <h1>General files download</h1>
        <h2>admin log</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='admin'>
            <input type='submit' value='download admin log'>
        </form>
        <br>
        <h2>ban log</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='ban'>
            <input type='submit' value='ban log download'>
        </form>
        <br>
        <h2>general log</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='general'>
            <input type='submit' value='general log download'>
        </form>
        <br>
        <h2>cover1</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='cover1'>
            <input type='submit' value='cover1 download'>
        </form>
        <br>
        <h2>cover2</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='cover2'>
            <input type='submit' value='cover2 download'>
        </form>
        <br>
        <h2>icon</h2>
        <form action='/login/log_download' method='POST' enctype='multipart/form-data'>
            <input type='hidden' name='log' value='icon'>
            <input type='submit' value='icon download'>
        </form>
    </div>
    <div class='middle'>
        <h1>Config change</h1>
        <h2>current setting</h2>
        ====================================================================break point
        here======================================================
        <h2>change setting</h2>
        <form action='/login/change_config' method='POST' enctype='multipart/form-data'>
            <p>csrf</p>
            <input type="hidden" name="config_type" value="csrf">
            <input type="text" name='config_value'>
            <input type="submit" onclick="send()">
        </form>
        <form action='/login/change_config' method='POST' enctype='multipart/form-data'>
            <p>sessdata</p>
            <input type="hidden" name="config_type" value="sessdata">
            <input type="text" name='config_value'>
            <input type="submit" onclick="send()">
        </form>
        <h2>For logging part, enter true or false</h2>
        <form action='/login/change_config' method='POST' enctype='multipart/form-data'>
            <p>general log</p>
            <input type="hidden" name="config_type" value="general_log">
            <input type="text" name='config_value'>
            <input type="submit" onclick="send()">
        </form>
        <form action='/login/change_config' method='POST' enctype='multipart/form-data'>
            <p>ban log</p>
            <input type="hidden" name="config_type" value="ban_log">
            <input type="text" name='config_value'>
            <input type="submit" onclick="send()">
        </form>
        <form action='/login/change_config' method='POST' enctype='multipart/form-data'>
            <p>admin log</p>
            <input type="hidden" name="config_type" value="admin_log">
            <input type="text" name='config_value'>
            <input type="submit" onclick="send()">
        </form>
    </div>
    <div class='right'>
        <h1>Server update</h1>
        <p>cover1</p>
        <form action="/login/server_update" method="post" enctype='multipart/form-data'>
            <input type="hidden" name="server_config" value="cover1">
            <input type="file" name="file" accept=".jpeg,.png">
            <input type="submit" onclick="send()">
        </form>
        <p>cover2</p>
        <form action="/login/server_update" method="post" enctype='multipart/form-data'>
            <input type="hidden" name="server_config" value="cover2">
            <input type="file" name="file" accept=".jpeg,.png">
            <input type="submit" onclick="send()">
        </form>
        <p>icon</p>
        <form action="/login/server_update" method="post" enctype='multipart/form-data'>
            <input type="hidden" name="server_config" value="icon">
            <input type="file" name="file" accept=".ico">
            <input type="submit" onclick="send()">
        </form>
        <p>ip banning</p>
        <form action="/login/server_update" method="post" enctype='multipart/form-data'>
            <input type="hidden" name="server_config" value="ban">
            <input type="text" name=ip>
            <input type="submit" onclick="send()">
        </form>
        <p>ip unbanning</p>
        <form action="/login/server_update" method="post" enctype='multipart/form-data'>
            <input type="hidden" name="server_config" value="unban">
            <input type="text" name=ip>
            <input type="submit" onclick="send()">
        </form>
    </div>
</body>
<script>
    function send() {
        alert("changing request send, please refresh page to see changes")
        window.location.reload();
    }
</script>

</html>